*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.celular-foto {
    width: 50px;
}

.insta-logo {
    width: 80px;
}